.nav_main_desktop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040  ;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.nav_logo_text{
  font-size: 18px;
  font-weight: bold;
  color: #0b338f;
  margin-top: 4px;
}

.nav_upload_text {
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
  cursor: pointer;
  position: relative; /* Add this */
}

.nav_upload_text::before {
  content: '';
  position: absolute;
  bottom:-1px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.3s ease; /* Transition width property */
}

.nav_upload_text:hover::before {
  width: 100%; /* Fill from left to right */
  background-color: #2c64c0;
}


/* .nav_upload_text{
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
  cursor: pointer;
  border-bottom: 3px solid #ffffff;
  transition: border-bottom 0.3s ease;
}

.nav_upload_text:hover{
  border-bottom: 3px solid #2c64c0;
} */

.nav_sub_desktop{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav_logo_desktop{
  width:82px;
  height:44px;
}

.nav_sub_desktop_logo_text{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav_btn_desktop{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color:  #4d90fe ;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.5s ease;
}

.nav_btn_desktop:hover{
  background-color: #2c64c0;
}

.nav_main_mobile{
  display: none;
}

.nav_acc{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width:700px) {
  .nav_main_desktop{
    display: none;
  }

  .nav_main_mobile{
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0px 4px 4px 0px #00000040  ;
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
  }

  .nav_icons{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav_sub_mobile_logo_text{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .nav_logo_mobile{
    width:52px;
    height:44px;
    cursor: pointer;
  }

  .nav_sub_mobile{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav_btn_mobile{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .nav_menu_logo{
    cursor: pointer;
  }

  .nav_btn_mobile{
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    background-color:  #4d90fe ;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  
  .nav_btn_mobile:hover{
    background-color: #2c64c0;
  }

}


